:root{
  --branco: #e1e1e1;
  --vermelho: #800000;
  --cinza_bkg: #323232; 
  --preto: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
 body{
  background-color: var(--branco);
  transition: background-color 0.5s linear;
 }


 
  footer{
    /* position: absolute; */
    font-family:  "Open Sans";
    height: auto;
    width: 100vw;
    color: var(--vermelho);
    bottom: 0;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 1em;
  }

  .footer-content ul{
    list-style: none;
    display: flex;
    margin-block-end: -1em; 
  }

.footer-content i{
  font-size: 2em;
  align-items: center;
  color: var(--cinza_bkg);
  padding: 0px 2px 0px 4px; 
}

  .footer-content a:hover i{
    color: var(--vermelho)
  }

  p{
    align-items: center;
    color: var(--cinza_bkg);
    text-align: center;
  }


.botoes{
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 80vh; */
  grid-template-columns: repeat(4,90px);
  grid-template-rows:minmax(100px, auto) repeat(5,70px);
}

.botoes > button{
  cursor: pointer;
  border: 1px solid var(--cinza_bkg);
  background-color: var(--cinza_bkg);
  color: var(--branco);
  font-weight: bold;
  font-size: 1.2rem;
}
.botoes .operator{
  background: var(--vermelho);
}
.botoes .span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1/-1;
  background: var(--cinza_bkg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output> .previous-operand{
  color: rgba(255,255,255, 0.75);
  font-size: 1.5rem;
}
 .output> .current-operand{
  color: white;
  font-size: 2.5rem;
}

.output{
  border: 1px solid var(--cinza_bkg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.igual{
  border-bottom-right-radius: 10px;
}

.point{
  border-bottom-left-radius: 10px;
}


.checkbox{
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball{
  transform: translate(24px);
}


.label{
  /* margin-top: 20px; */
  background-color: var(--cinza_bkg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.ball{
  background-color: var(--branco);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  position: absolute;
  transform: translate(0px);
  transition: transform 0.3s linear;
}

i.material-symbols-outlined{
  color: #fafafa;
  font-size: 17px;
}


.main-container{
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-between; 
  align-items: center;
  /* margin: 20px 0; */
}

.dark{
  background-color: var(--cinza_bkg);
}


.dark label, .dark .output, .dark button {
  background-color: var(--branco);
}

.dark .fa, .dark p, .dark .operator{
  color: var(--branco);
}

.dark .sun, .dark button, .dark .current-operand, .dark .previous-operand{
  color: var(--cinza_bkg);
}

.dark .ball {
  background-color: var(--cinza_bkg);
}

.dark .botoes button, .dark .output{
  border: 1px solid var(--branco);
}